
<div class="section1">
  <div class="container">
    <div class="section1__wrap">
      <div class="section1__left"><img class="section1__main-img" src="assets/img/trangchu/horizontal-shot-adult-girl-jeans-overalls-kissing-cute-puppy-while-raising-it-air-young-girl-being-love-with-her-dog-clothed-trendy-jumper-display-affection 3.png" alt=""/><img class="section1__bg-img" src="assets/img/trangchu/section-bg-1.png" alt=""/></div>
      <div class="section1__right">
        <h2> 
          <div class="section1__main-title">Thêm Một Bạn</div>
          <div class="section1__sub-title">Thêm Ngàn Niềm Vui!</div>
        </h2>
        <p class="section1__desc">
          Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới.Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!</p>
        <div class="section1__btn"> 
          <div class="btn--outline">Giới thiệu<i class="fa-regular fa-circle-play"></i></div>
          <div class="btn">Khám phá ngay</div>
        </div>
      </div>
      <div class="section1__right-bg-img section1__right-bg-pc"><img src="assets/img/trangchu/right-bg-img-section.svg" alt=""/></div>
    </div>
  </div>
</div>