<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body> 
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__mobile-menu"><i class="fa-solid fa-bars"></i></div>
          <div class="header__logo"><img src="assets/img/trangchu/logo.svg" alt=""></div>
          <nav class="header__menu">
            <ul> 
              <li> <a class="item" href="index.html">Trang chủ</a></li>
              <li> <a class="item" href="#">Danh mục </a></li>
              <li> <a class="item" href="#">Giới thiệu</a></li>
              <li> <a class="item" href="#">Liên hệ </a></li>
            </ul>
          </nav>
          <button class="header__search"> <i class="fa-solid fa-magnifying-glass"></i></button>
          <form class="header__frm inp" action=""> <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Nhập từ khóa...">
          </form>
          <button class="btn">Tham gia cộng đồng</button>
        </div></div>
      </div></div>
    </header></div>
    <footer class="footer-section"> 
      <div class="container"> 
        <div class="footer-section__top"> 
          <div class="footer-section__top-content">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</div>
          <form class="footer-section__form" action="_blank"> 
            <input type="email" placeholder="Nhập email của bạn...">
            <button class="btn" href="#">Đăng ký ngay</button>
          </form>
        </div>
        <div class="footer-section__mid"> 
          <ul class="footer-section__item"> 
            <li> <a href="trangchu.html">Trang chủ</a></li>
            <li> <a href="#">Danh mục </a></li>
            <li> <a href="#">Giới thiệu</a></li>
            <li> <a href="#">Liên hệ </a></li>
          </ul>
          <ul class="footer-section__social"> 
            <li> <a href="#" target="_blank"> <i class="fa-brands fa-facebook"></i></a></li>
            <li> <a href="#" target="_blank"> <i class="fa-brands fa-twitter"></i></a></li>
            <li> <a href="#" target="_blank"> <i class="fa-brands fa-instagram"> </i></a></li>
            <li> <a href="#" target="_blank"> <i class="fa-brands fa-youtube">                          </i></a></li>
          </ul>
        </div>
        <div class="footer-section__bottom">    
          <div class="footer-section__copy-right">©2024 duy2kzcuber. All rights reserved.</div>
          <div class="footer-section__logo"> <img src="assets/img/trangchu/logo.svg" alt=""></div>
          <div class="footer-section__links"> 
            <ul> 
              <li> <a href="#"> Điều khoản dịch vụ</a></li>
              <li> <a href="#">Chính sách bảo mât </a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>