doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title 
        link(rel="stylesheet", href="assets/css/style.css")
    body 
        //- <!-- begin header -->
        header.header
            .container
                .header__wrap
                    //- mobile menu
                    .header__mobile-menu
                        i(class="fa-solid fa-bars")
                    //- logo
                    .header__logo
                        img(src="assets/img/trangchu/logo.svg", alt="")
                    //- menu
                    nav.header__menu
                        ul 
                            li 
                                a(href="index.html" class ="item") Trang chủ
                            li 
                                a(href="#" class ="item") Danh mục 
                            li 
                                a(href="#" class ="item") Giới thiệu
                            li 
                                a(href="#" class ="item") Liên hệ 
                    button.header__search 
                        i(class="fa-solid fa-magnifying-glass")
                    form(action="" class ="header__frm"  class="inp") 
                        i(class= "fa-solid fa-magnifying-glass")
                        input(type="text", placeholder='Nhập từ khóa...')
                    button.btn Tham gia cộng đồng
                </div>
            </div>
        </div>
        //- <!-- end header -->
        //- <!-- begin banner -->
        //-main
        block main 
        //-end main
        //- <!-- begin footer-secion -->
        footer.footer-section 
            .container 
                .footer-section__top 
                    .footer-section__top-content
                        | Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
                    form(action="_blank", class= "footer-section__form" ) 
                        input(type="email" placeholder ="Nhập email của bạn...")
                        button(class ="btn" href="#") Đăng ký ngay
                .footer-section__mid 
                    ul.footer-section__item 
                        li 
                            a(href="trangchu.html") Trang chủ
                        li 
                            a(href="#") Danh mục 
                        li 
                            a(href="#") Giới thiệu
                        li 
                            a(href="#") Liên hệ 
                    ul.footer-section__social 
                        li 
                            a(href="#" target="_blank") 
                                i(class="fa-brands fa-facebook")
                        li 
                            a(href="#" target="_blank") 
                                i(class="fa-brands fa-twitter")
                        li 
                            a(href="#" target="_blank") 
                                i(class="fa-brands fa-instagram") 
                        li 
                            a(href="#" target="_blank") 
                                i(class="fa-brands fa-youtube")                           
                .footer-section__bottom     
                    .footer-section__copy-right
                        |©2024 duy2kzcuber. All rights reserved.
                    .footer-section__logo 
                        img(src="assets/img/trangchu/logo.svg", alt="")
                    .footer-section__links 
                        ul 
                            li 
                                a(href="#")  Điều khoản dịch vụ
                            li 
                                a(href="#") Chính sách bảo mât 
    